@import "tailwindcss";
/* @import "tw-animate-css"; */

html,
body {
    font-optical-sizing: auto;
    overflow-x : hidden;
}

@theme {
    --color-primary: #0882B1;
    --color-accent: #F68831;
    --color-dark : #252024;
    --color-deep-blue : #0f6280;
    --color-vine-green: #5C7A3A;
    --font-prata: "Prata", serif;
    --font-lato: "Lato", sans-serif;
}

@layer base {
    body {
        @apply font-lato
    }
    .page-header span{
        @apply  text-accent italic md:block
    }
}